{% extends 'base/dashboard_base.html' %}
{% load static %}   
  {% block content %}

    <h1>View Products</h1>
    <table>
        <tr>
            <th>Sr no</th>
            <th>Product Name</th>
            <th>Company Name</th>
            <th>Product Price</th>
            <th>Product Image</th>
            <th>Entered By</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.company_name }}</td>
            <td>{{ product.product_price }}</td>
            <td><img src="{{ product.product_image.url }}" alt="Product Image" width="100px"></td>
            <td>{{ product.entered_by }}</td>
            <td><a href="{% url 'edit' pk=product.pk  %}">
                <button class="edit-button">Edit</button>
            </a></td>
            <td><a href="{% url 'delete' pk=product.pk %}">
                <button class="delete-button">Delete</button>
                </a></td>
        </tr>
        {% endfor %}
    </table>
  {% endblock content %}
